html {
	color: #070600;
    font-family: 'Lato', sans-serif;
	font-size: 24px;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

h1 { 
	font-size: 2.6667rem;
}

h2 {
	font-size: 1.25rem;
}

.blog:not(.has-sidebar) #primary article,
.archive:not(.page-one-column):not(.has-sidebar) #primary article,
.search:not(.has-sidebar) #primary article,
.error404:not(.has-sidebar) #primary .page-content,
.error404.has-sidebar #primary .page-content,
body.page-two-column:not(.archive) #primary .entry-content,
body.page-two-column #comments {
	float:none;
	width:inherit;
}

body:not(.has-sidebar):not(.page-one-column) .page-header,
body.has-sidebar.error404 #primary .page-header,
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
	float:none;
	width:inherit;
}
.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
	font-size:39px;
	font-size:1.625rem;
}
