html {
  color: #070600;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.6667rem;
}

h2 {
  font-size: 1.25rem;
}

.blog:not(.has-sidebar) #primary article,
.archive:not(.page-one-column):not(.has-sidebar) #primary article,
.search:not(.has-sidebar) #primary article,
.error404:not(.has-sidebar) #primary .page-content,
.error404.has-sidebar #primary .page-content,
body.page-two-column:not(.archive) #primary .entry-content,
body.page-two-column #comments {
  float: none;
  width: inherit;
}

body:not(.has-sidebar):not(.page-one-column) .page-header,
body.has-sidebar.error404 #primary .page-header,
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
  float: none;
  width: inherit;
}

.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
  font-size: 39px;
  font-size: 1.625rem;
}

/**
 * Site Header - Hero
 */

@media screen and (min-width: 48em) {
  .site-header {
    display: flex;
  }
}

.site-header .custom-header {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: normal;
  justify-content: center;
  height: 66vh;
  margin-bottom: 0 !important;
  /* Override for theme JS - sorry! */
}

/* Overlay for more legible text */

.site-header .custom-header::before {
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.has-header-image.twentyseventeen-front-page .site-branding,
.has-header-video.twentyseventeen-front-page .site-branding,
.has-header-image.home.blog .site-branding,
.has-header-video.home.blog .site-branding {
  vertical-align: top;
}

.has-header-image.twentyseventeen-front-page .site-branding,
.has-header-video.twentyseventeen-front-page .site-branding,
.has-header-image.home.blog .site-branding,
.has-header-video.home.blog .site-branding {
  bottom: inherit;
  top: 3.2em;
}

.site-branding {
  margin-bottom: 0 !important;
  /* Override for theme JS - sorry! */
  padding-top: 0;
  padding-bottom: 1em;
  /*
	@media screen and (min-width: 61em) {
		padding-bottom: 4em;
	}
	*/
}

@media screen and (min-width: 60em) {
  .site-branding {
    padding: 0;
  }
}

.site-branding .wrap {
  padding: 0;
}

.site-branding .site-title {
  display: none;
}

.site-description {
  display: none;
}

body:not(.title-tagline-hidden) .site-branding-text {
  display: block;
  text-align: center;
  vertical-align: top;
}

.custom-header::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 28%;
  height: 40%;
  width: 40%;
  min-width: 230px;
  background: no-repeat center/contain url("https://2019.brighton.wordcamp.org/files/2019/05/logo-white-date.png");
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 48em) {
  .custom-header::after {
    width: 30%;
    height: 30%;
    top: 28%;
  }
}

/**
 * Site Header - Navigation
 */

.site-header .navigation-top {
  z-index: 100;
}

/* Floating/fixed header (desktop) */

@media screen and (min-width: 48em) {
  .site-header .navigation-top {
    background: transparent;
    border: 0;
    top: 0;
    bottom: auto;
  }

  .site-header .navigation-top.site-navigation-fixed {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  }
}

.main-navigation .menu {
  text-align: center;
}

.main-navigation .menu-item a,
.main-navigation .menu-item.current-menu-item > a,
.main-navigation .menu-item.current_page_item > a {
  position: relative;
  padding: 0;
  margin: .75em;
}

@media screen and (min-width: 48em) {
  .main-navigation ul.menu > .menu-item > a,
  .main-navigation ul.menu > .menu-item.current-menu-item > a,
  .main-navigation ul.menu > .menu-item.current_page_item > a {
    color: #fff;
  }

  /* Current item underline (psudo-element) */

  .main-navigation .menu-item.current-menu-item > a::after,
  .main-navigation .menu-item.current_page_item > a::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #2ffbc3;
    bottom: -3px;
    left: 0;
    position: absolute;
  }

  .navigation-top.site-navigation-fixed ul.menu > .menu-item a,
  .navigation-top.site-navigation-fixed ul.menu > .menu-item.current-menu-item > a,
  .navigation-top.site-navigation-fixed ul.menu > .menu-item.current_page_item > a {
    color: #000;
  }

  .has-header-image.twentyseventeen-front-page .site-branding,
  .has-header-video.twentyseventeen-front-page .site-branding,
  .has-header-image.home.blog .site-branding,
  .has-header-video.home.blog .site-branding {
    bottom: 20%;
    padding-bottom: 1em;
  }
}

/**
 * Buttons
 */

.btn,
.entry-content .btn {
  background-color: #dd4d68;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  padding: 10px 26px;
  border-radius: 28px;
  transition: background-color 200ms, color 300ms;
}

.btn:hover,
.entry-content .btn:hover {
  box-shadow: none;
}

/**
 * Home page
 */

.home .site-main > article:first-child {
  display: none;
  /* Hide first content panel on home page */
}

.navigation-top {
  font-size: 20px;
}

@media screen and (min-width: 48em) {
  .navigation-top {
    font-size: 16px;
  }
}

@media screen and (min-width: 59.25em) {
  .navigation-top {
    font-size: 20px;
  }
}

#panel1 h2.entry-title,
#panel2 h2.entry-title,
#panel3 h2.entry-title {
  display: none;
}

#panel1,
#panel3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top: 0;
}

#panel1 .panel-content .wrap,
#panel3 .panel-content .wrap {
  height: calc(100vh - 90px);
  padding: 60px 0;
}

#panel1 {
  background-image: url("https://2019.brighton.wordcamp.org/files/2019/05/you-are-invided.jpg");
  height: calc(100vh - 90px);
}

#panel1 .wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#panel1 .wp-block-button,
#panel2 .wp-block-button,
#panel3 .wp-block-button {
  text-align: center;
}

#panel1 .wp-block-button a,
#panel2 .wp-block-button a,
#panel3 .wp-block-button a {
  background-color: #dd4d68;
}

#panel1 header,
#panel2 header,
#panel3 header {
  margin-bottom: 0;
}

#panel3 {
  background-image: url("https://2019.brighton.wordcamp.org/files/2019/05/carousel.jpg");
  height: calc(100vh - 90px);
}

#panel3 .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#panel3 h2,
#panel3 p,
#panel3 a {
  color: white;
  text-align: center;
}

/* Blog Page post grid boxes - relevant only to page-id-2432*/

.page-id-2432 ul.wp-block-latest-posts.is-grid.columns-3 li {
  border-style: solid;
  border-width: 2.8px;
  border-color: #75c8a9;
  border-radius: 10px;
  padding: 2%;
  background-color: #ffffff;
}

/*End*/

/* Hover : Blog Page post grid boxes - relevant only to page-id-2432*/

.page-id-2432 ul.wp-block-latest-posts.is-grid.columns-3 li:hover {
  transition: all .5s ease-in-out;
  border-color: #474747;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.025);
}

/*End*/

/* hide arrow underline */

.entry-content .fav-session-button,
.entry-content .fav-session-button:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.room-change,
.break,
.lunch,
.finish,
.registration-opens-available-all-day {
  background-color: #eee;
}

table.wcpt-schedule {
  table-layout: fixed;
}

.wcpt-col-time {
  width: 15%;
}

.type-wcb_speaker .speaker-avatar,
.wcorg-speaker-description img.avatar {
  float: left;
  margin: 0.2em 1em 0.25em 0;
}

.type-wcb_speaker .speaker-avatar,
.wcorg-speaker-description img.avatar {
  background-color: #eee;
}